.ui.text.container {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    max-width: 700px !important;
    line-height: 1.5;
}

.ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.ui.container {
    display: block;
    max-width: 100% !important;
}
.container {
    padding: 5em 0em;
}